/* 颜色变量 */
$page-color-base: #f8f8f8;
$page-color-light: #f8f6fc;

/* 行为相关颜色 */
$color-primary: #FF6100;
$color-normal: #007aff;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;

/* 文字基本颜色 */
$text-color: #333; //基本色
$text-color-inverse: #fff; //反色
$text-color-grey: #999; //辅助灰色，如加载更多的提示信息
$text-color-placeholder: #808080;
$text-color-disable: #c0c0c0;
$text-color-link: #007aff;
$text-color-dark: #303133;

/* 文字尺寸 */
$text-size-sm: 12px;
$text-size-base: 14px;
$text-size-lg: 16px;

/* 背景颜色 */
$bg-color: #ffffff;
$bg-color-grey: #f8f8f8;
$bg-color-hover: #f1f1f1; //点击状态颜色
$bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */
$border-color-dark: #DCDFE6;
$border-color-base: #E4E7ED;
$border-color-light: #EBEEF5;

/* 边界线曲度 */
$border-radius-sm: 2px;
$border-radius-base: 3px;
$border-radius-lg: 6px;
$border-radius-circle: 50%;

/* 边界线标准style */
$border-style-base: solid $border-color-base thin;

/* 尺寸变量 */
/* 图片尺寸 */
$img-size-sm: 20px;
$img-size-base: 26px;
$img-size-lg: 40px;
$img-size-hg: 120px;

/* 水平间距 */
$spacing-row-sm: 6px;
$spacing-row-base: 10px;
$spacing-row-lg: 20px;

/* 垂直间距 */
$spacing-col-sm: 8px;
$spacing-col-base: 16px;
$spacing-col-lg: 24px;

/* 透明度 */
$opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$color-title: #2C405A; // 文章标题颜色
$text-size-title: 20px;
$color-subtitle: #555555; // 二级标题颜色
$text-size-subtitle: 18px;
$color-paragraph: #3F536E; // 文章段落颜色
$text-size-paragraph: 20px;